extends layout

block content
    if items.length > 0
        ul(class='items-list')
        for item in items
            li(class='item-card')
                p= item.name
                p $#{item.price}
                p= item.deleteComment
                .item-card-links
                    a(href=`/item/${item.id}`) View
                    a(href=`/item/${item.id}/undelete`) Undelete
    else 
        p No items found
